<!-- ==================== Start Header Area  ========================= -->
<header class="header-area bg-color2 page-area">
    <div class="container">
        @await Html.PartialAsync("~/Views/Shared/_Navigation.cshtml")
        <div class="header-page-title">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title text-center white-all">
                        <h1 class="big-font1">@ViewData["Title"]</h1>
                    </div>
                </div>
            </div>
        </div>
        <ul class="header-shape list-inline">
            <li class="left"><img src="~/images/header-bg-shap2.png" alt="shape image" /></li>
            <li class="right"><img src="~/images/header-bg-shap3.png" alt="shape image" /></li>
        </ul>
    </div>
</header>
<!-- ==================== End Header Area  ========================= -->