<li><a href="~/">Home</a></li>
<li><a href="#features" class="js-scroll-trigger">Features</a></li>
<!--<li><a href="#pricing" class="js-scroll-trigger">Pricing</a></li> -->
<li><a href="~/About">About</a></li>
<li><a href="#contact" class="js-scroll-trigger">Contact</a></li>
<li><a runat="server" id="signinLinkVisible" href="~/Profile" visible="false">Sign In</a></li>              