<!-- Start Section -->
<section class="apps-store-area bg-color1 p-b-100">
    <div class="container">
        <div class="apps-store-wrapper">
            <div class="row">

                <div class="col-md-3 offset-lg-2 order-md-last">
                    <div class="apps-store-img" data-aos="fade-up-left"><img src="~/images/mockup.png" alt="apps screenshot image" /></div>
                    <div class="app-ani"><img src="~/images/ellipse-shape.png" class="shape-six" alt="animation shape" /></div>
                </div>
                <div class="col-md-7 order-md-first">
                    <div class="apps-store-content">
                        <div class="section-title m-b-40">
                            <h2 class="big-font2">App is available for free on Google Play & App Store</h2>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut and typesetting.Lorem ipsum dolor sit amet, consete radipscing elitr, sed diam nonumy </p>
                        </div>
                        <ul class="apps-store-list m-b-40 list-inline">
                            <li>Keep it simple and beautifula</li>
                            <li>Porttitor enim habitant nec</li>
                            <li>Consequatur curabitur, nullam</li>
                        </ul>
                        <div class="apps-download-link m-b-40">
                            <p class="weight-medium">Dorem ipsum dolor sit amet, consete radipscing elitr sed diam non <a href="#">2,789 Download</a></p>
                        </div>
                        <ul class="apps-store-btn m-0 list-inline">
                            <li class="list-inline-item"><a href="#" class="ads-btn3 btn btn-primary"><img src="~/images/google-play.png" alt="ads image"><span><em>Get In on</em>Google Play</span></a></li>
                            <li class="list-inline-item"><a href="#" class="ads-btn4 btn btn-primary"><img src="~/images/appstore.png" alt="ads image"><span><em>Available On the</em>Appstore</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->