<!-- Start Section -->
<section class="price-plan-area bg-image2 p-t-130 p-b-100" id="@ViewData["SectionName"]">
    <div class="container">
        <div class="price-plan-wrapper">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="price-plan-title">
                        <h2 class="big-font2">Choose you best Plan pricing plan</h2>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut and typesetting.</p>
                        <a href="#" class="all-view-btn">See All Plan</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="price-plan-box" data-aos="fade-up">
                        <div class="price-title text-center d-flex align-items-center">
                            <div class="price-curency">
                                <p><sup>$</sup>28</p>
                            </div>
                            <div class="price-package d-flex align-items-center justify-content-center">
                                <h5>Monthly Package</h5>
                            </div>
                        </div>
                        <div class="price-content text-center">
                            <ul class="price-list list-inline">
                                <li>Push Notifications</li>
                                <li>Offline Synchronization</li>
                                <li>SQL Database</li>
                                <li>Data Transfer</li>
                                <li>Speech & Text Analytics</li>
                                <li>24/7 Support</li>
                            </ul>
                            <a href="#" class="price-btn btn btn-primary">Sign Up</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="price-plan-box m-t-80" data-aos="fade-up">
                        <div class="price-title text-center">
                            <div class="price-curency">
                                <p><sup>$</sup>85</p>
                            </div>
                            <div class="price-package d-flex align-items-center justify-content-center">
                                <h5>Yearly Package</h5>
                            </div>
                        </div>
                        <div class="price-content text-center">
                            <ul class="price-list list-inline">
                                <li>Push Notifications</li>
                                <li>Offline Synchronization</li>
                                <li>SQL Database</li>
                                <li>Data Transfer</li>
                                <li>Speech & Text Analytics</li>
                                <li>24/7 Support</li>
                            </ul>
                            <a href="#" class="price-btn btn btn-primary">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->