<!-- Start Section -->
<section class="service-area bg-color1 p-t-130 p-b-100">
    <div class="app-ani">
        <img src="~/images/themeix-ani1.png" alt="animated shape" class="shape-one" />
        <img src="~/images/themeix-ani2.png" alt="animated shape" class="shape-two" />
        <img src="~/images/themeix-ani3.png" alt="animated shape" class="shape-tree" />
    </div>
    <div class="container">
        <div class="service-wrapper">
            <div class="row">
                <div class="col-md-4">
                    <div class="service-box" data-aos="fade-up">
                        <div class="service-logo"><img src="~/images/service-icon.png" alt="service icon" /></div>
                        <div class="service-content">
                            <h4 class="heading-4">Fully Secured</h4>
                            <p>Order to design a mois gmoduledownloaded and access</p>
                            <div class="service-line line-color1 "></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box" data-aos="fade-up">
                        <div class="service-logo"><img src="~/images/service-icon2.png" alt="service icon" /></div>
                        <div class="service-content">
                            <h4 class="heading-4">Design & Branding</h4>
                            <p>Order to design a mois gmoduledownloaded and access</p>
                            <div class="service-line line-color2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box" data-aos="fade-up">
                        <div class="service-logo"><img src="~/images/service-icon3.png" alt="service icon" /></div>
                        <div class="service-content">
                            <h4 class="heading-4">Easy to Edit</h4>
                            <p>Order to design a mois gmoduledownloaded and access</p>
                            <div class="service-line line-color3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->