<!-- Start Section -->
<section class="watch-video-area bg-image1 bg-overlay p-t-130 p-b-130" id="@ViewData["SectionName"]">
    <div class="container">
        <div class="watch-video-wrapper">
            <div class="row">
                <div class="col-lg-6 pr-0">
                    <div class="watch-video-play">
                        <img src="~/images/watch-video-img.png" alt="watch image" />
                        <a class="play-btn" href="#" data-toggle="modal" data-target="#watch-video"><i class="fas fa-play"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 pl-0">
                    <div class="watch-video-content">
                        <div class="watch-video-top">
                            <h2 class="heading-1 white-text">CodeFactory Video</h2>
                        </div>
                        <div class="watch-video-bottom">
                            <h5 class="m-b-30 heading-5">Neque vel, non nec non vestibulum Dolor dolor ac cras commodo</h5>
                            <p>Scelerisque sit odio praesent, a non ut mattis dui ac dolor, dapibus purus vivamus odio mauris sodales, cras vitae morbi</p>
                        </div>
                    </div>
                    <div class="watch-arrow" data-aos="fade-up-left"><img src="~/images/arrow-key.png" alt="watch video arrow" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="watch-video" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Live Watching</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe src="https://onedrive.live.com/?authkey=%21AK1mu0j1L9lVOJ0&cid=8928E2F96ED79D89&id=8928E2F96ED79D89%21574827&parId=8928E2F96ED79D89%21574824&o=OneUp" allow="autoplay; encrypted-media" style="width:100%;height:315px;" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->